.classpath
.project
.settings/org.eclipse.core.resources.prefs
project/project/target/config-classes/$4a709ddcb8e663d4f51c$.class
project/project/target/config-classes/$4a709ddcb8e663d4f51c.cache
project/project/target/config-classes/$4a709ddcb8e663d4f51c.class
project/target/config-classes/$aa18f4ca1e87f20ab22e$$anonfun$commonSettings$1.class
project/target/config-classes/$aa18f4ca1e87f20ab22e$$anonfun$commonSettings$2.class
project/target/config-classes/$aa18f4ca1e87f20ab22e$$anonfun$commonSettings$3.class
project/target/config-classes/$aa18f4ca1e87f20ab22e$$anonfun$root$1.class
project/target/config-classes/$aa18f4ca1e87f20ab22e$$anonfun$root$2.class
project/target/config-classes/$aa18f4ca1e87f20ab22e$$anonfun$root$3.class
project/target/config-classes/$aa18f4ca1e87f20ab22e$$anonfun$root$4.class
project/target/config-classes/$aa18f4ca1e87f20ab22e$$anonfun$root$5.class
project/target/config-classes/$aa18f4ca1e87f20ab22e$$anonfun$root$6.class
project/target/config-classes/$aa18f4ca1e87f20ab22e$.class
project/target/config-classes/$aa18f4ca1e87f20ab22e.cache
project/target/config-classes/$aa18f4ca1e87f20ab22e.class
project/target/resolution-cache/default/chesschallenge-build/scala_2.10/sbt_0.13/0.1-SNAPSHOT/resolved.xml.properties
project/target/resolution-cache/default/chesschallenge-build/scala_2.10/sbt_0.13/0.1-SNAPSHOT/resolved.xml.xml
project/target/resolution-cache/reports/default-chesschallenge-build-compile-internal.xml
project/target/resolution-cache/reports/default-chesschallenge-build-compile.xml
project/target/resolution-cache/reports/default-chesschallenge-build-docs.xml
project/target/resolution-cache/reports/default-chesschallenge-build-optional.xml
project/target/resolution-cache/reports/default-chesschallenge-build-plugin.xml
project/target/resolution-cache/reports/default-chesschallenge-build-pom.xml
project/target/resolution-cache/reports/default-chesschallenge-build-provided.xml
project/target/resolution-cache/reports/default-chesschallenge-build-runtime-internal.xml
project/target/resolution-cache/reports/default-chesschallenge-build-runtime.xml
project/target/resolution-cache/reports/default-chesschallenge-build-scala-tool.xml
project/target/resolution-cache/reports/default-chesschallenge-build-sources.xml
project/target/resolution-cache/reports/default-chesschallenge-build-test-internal.xml
project/target/resolution-cache/reports/default-chesschallenge-build-test.xml
project/target/resolution-cache/reports/ivy-report.css
project/target/resolution-cache/reports/ivy-report.xsl
project/target/streams/$global/$global/$global/streams/out
project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.10/input_dsp
project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.10/output_dsp
project/target/streams/$global/ivyConfiguration/$global/streams/out
project/target/streams/$global/ivySbt/$global/streams/out
project/target/streams/$global/projectDescriptors/$global/streams/out
project/target/streams/$global/update/$global/streams/out
project/target/streams/$global/update/$global/streams/update_cache_2.10/inputs
project/target/streams/$global/update/$global/streams/update_cache_2.10/output
project/target/streams/compile/$global/$global/discoveredMainClasses/data
project/target/streams/compile/compile/$global/streams/out
project/target/streams/compile/compileIncremental/$global/streams/export
project/target/streams/compile/compileIncremental/$global/streams/out
project/target/streams/compile/copyResources/$global/streams/copy-resources
project/target/streams/compile/copyResources/$global/streams/out
project/target/streams/compile/dependencyClasspath/$global/streams/export
project/target/streams/compile/exportedProducts/$global/streams/export
project/target/streams/compile/externalDependencyClasspath/$global/streams/export
project/target/streams/compile/internalDependencyClasspath/$global/streams/export
project/target/streams/compile/managedClasspath/$global/streams/export
project/target/streams/compile/unmanagedClasspath/$global/streams/export
project/target/streams/compile/unmanagedJars/$global/streams/export
project/target/streams/runtime/dependencyClasspath/$global/streams/export
project/target/streams/runtime/exportedProducts/$global/streams/export
project/target/streams/runtime/externalDependencyClasspath/$global/streams/export
project/target/streams/runtime/fullClasspath/$global/streams/export
project/target/streams/runtime/internalDependencyClasspath/$global/streams/export
project/target/streams/runtime/managedClasspath/$global/streams/export
project/target/streams/runtime/unmanagedClasspath/$global/streams/export
project/target/streams/runtime/unmanagedJars/$global/streams/export
target/.history
target/resolution-cache/org.sarrufat/chesschallenge_2.11/0.1.0/resolved.xml.properties
target/resolution-cache/org.sarrufat/chesschallenge_2.11/0.1.0/resolved.xml.xml
target/resolution-cache/reports/ivy-report.css
target/resolution-cache/reports/ivy-report.xsl
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-compile-internal.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-compile.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-docs.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-optional.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-plugin.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-pom.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-provided.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-runtime-internal.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-runtime.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-scala-tool.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-sources.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-test-internal.xml
target/resolution-cache/reports/org.sarrufat-chesschallenge_2.11-test.xml
target/streams/$global/$global/$global/streams/out
target/streams/$global/clean/$global/streams/out
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.11/input_dsp
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.11/output_dsp
target/streams/$global/ivyConfiguration/$global/streams/out
target/streams/$global/ivySbt/$global/streams/out
target/streams/$global/projectDescriptors/$global/streams/out
target/streams/$global/update/$global/streams/out
target/streams/$global/update/$global/streams/update_cache_2.11/inputs
target/streams/$global/update/$global/streams/update_cache_2.11/output
target/streams/compile/$global/$global/discoveredMainClasses/data
target/streams/compile/compile/$global/streams/out
target/streams/compile/compileIncremental/$global/streams/export
target/streams/compile/compileIncremental/$global/streams/out
target/streams/compile/copyResources/$global/streams/copy-resources
target/streams/compile/copyResources/$global/streams/out
target/streams/compile/dependencyClasspath/$global/streams/export
target/streams/compile/exportedProducts/$global/streams/export
target/streams/compile/externalDependencyClasspath/$global/streams/export
target/streams/compile/internalDependencyClasspath/$global/streams/export
target/streams/compile/mainClass/$global/streams/out
target/streams/compile/managedClasspath/$global/streams/export
target/streams/compile/run/$global/streams/out
target/streams/compile/unmanagedClasspath/$global/streams/export
target/streams/compile/unmanagedJars/$global/streams/export
target/streams/runtime/dependencyClasspath/$global/streams/export
target/streams/runtime/exportedProducts/$global/streams/export
target/streams/runtime/externalDependencyClasspath/$global/streams/export
target/streams/runtime/fullClasspath/$global/streams/export
target/streams/runtime/internalDependencyClasspath/$global/streams/export
target/streams/runtime/managedClasspath/$global/streams/export
target/streams/runtime/unmanagedClasspath/$global/streams/export
target/streams/runtime/unmanagedJars/$global/streams/export
target/streams/test/$global/$global/definedTestNames/data
target/streams/test/$global/$global/discoveredMainClasses/data
target/streams/test/compile/$global/streams/out
target/streams/test/compileIncremental/$global/streams/export
target/streams/test/compileIncremental/$global/streams/out
target/streams/test/copyResources/$global/streams/copy-resources
target/streams/test/copyResources/$global/streams/out
target/streams/test/definedTests/$global/streams/out
target/streams/test/dependencyClasspath/$global/streams/export
target/streams/test/exportedProducts/$global/streams/export
target/streams/test/externalDependencyClasspath/$global/streams/export
target/streams/test/fullClasspath/$global/streams/export
target/streams/test/internalDependencyClasspath/$global/streams/export
target/streams/test/loadedTestFrameworks/$global/streams/out
target/streams/test/managedClasspath/$global/streams/export
target/streams/test/test/$global/streams/out
target/streams/test/unmanagedClasspath/$global/streams/export
target/streams/test/unmanagedJars/$global/streams/export
